aside {
  height: 100%;
}

.preview-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 40px);
}

iframe.mobile {
  width: 375px;
  height: 812px;
  border: 1px solid #c1c1c1;
  box-shadow: 0 1px 10px 3px rgba(138,137,137,0.59);
  -webkit-box-shadow: 0 1px 10px 3px rgba(138,137,137,0.59);
  -moz-box-shadow: 0 1px 10px 3px rgba(138,137,137,0.59);
}

.hidden {
  visibility: hidden;
}
